# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore your virtual environment
venv/

# Ignore environment variables file
.env

# Ignore macOS metadata
.DS_Store

# ignore only local dev DB
cocktail_dev.db

# Node
node_modules/
*.log

# Tailwind output
/static/dist/output.css